*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2e1d2;
    justify-content: center;
    height: 100vh;
}
.counter{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.btn{
    padding: 10px 70px;
    font-size: 2rem;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 1px 3px 2px rgb(0, 0, 0);
}